## ASSIGNMENT 1

## 1. Print numbers from 1 to 10.

In [31]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

## 2. Print even numbers from 1 to 20

In [30]:
for i in range(1,21):
    if(i%2==0):
        {
            print(i,end=" ")
        }

2 4 6 8 10 12 14 16 18 20

## 3. Check if a number is positive, negative or zero

In [3]:
n = int(input("Enter the Number : "))
if(n>0):
    print(n," is a Positive number.")
elif(n<0):
    print(n," is a Negative number.")
else:
    print(n," is equal to Zero")

Enter the Number : 3
3  is a Positive number.

## 4. Add two numbers using operators

In [4]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(num1," + ",num2," = ",(num1+num2))

Enter first number: 2
Enter second number: 4
2  +  4  =  6

## 5. Print multiplication table of a number.

In [5]:
num1 = int(input("Enter The Number : "))
for i in range(1,11):
    print(num1 ," * ",i," = ",(num1*i))

Enter The Number : 2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

## 6. Find the largest among two numbers.

In [6]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
if(num1 > num2):
    print(num1 ," is Greater than ",num2)
elif(num1 == num2):
    print(num1," is Equal to ",num2)
else:
    print(num2 ," is Greater than ",num1)

Enter number 1: 2
Enter number 2: 4
4  is Greater than  2

## 7. Use a while loop to print numbers 5 to 1.

In [7]:
i = 5
while(i>0):
    print(i)
    i=i-1

5
4
3
2
1

## 8. Print all characters in a string.

In [29]:
string = "Hello world"
for i in range(0,len(string)): #len(string) returns length of string
    print(string[i],end=" ")

H e l l o   w o r l d

## 9. Use logical operator to check if a number is between 10 and 50.

In [9]:
n = int(input("Enter the Number : "))
if(n>=10 and n<=50):
    print(n," is in between 10 and 50 ")
else:
    print(n," is not in between 10 and 50 ")

Enter the Number : 3
3  is not in between 10 and 50

## 10. Sum of first 10 natural numbers.

In [10]:
n =10
s=0
for i in range (1,n+1):
    s += i
print("Sum of first ",n," Natural Number = ",s)

Sum of first  10  Natural Number =  55

## 11. Print "Odd" or "Even" for numbers 1 to 10

In [11]:
n =10
for i in range (1,n+1):
    if(i%2==0):
        print(i ," = EVEN")
    else:
        print(i," = ODD")

1  = ODD
2  = EVEN
3  = ODD
4  = EVEN
5  = ODD
6  = EVEN
7  = ODD
8  = EVEN
9  = ODD
10  = EVEN

## 12. Use “break” to stop loop when number is 5.

In [12]:
for i in range (1,10):
    if(i==5):
        break
    print(i)

1
2
3
4

## 13. Print 1 to 10 and use continue to skip printing 5

In [28]:
for i in range (1,10):
    if(i==5):
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9

## 14. Print all elements in a list using a loop.

In [26]:
l = [1,2,3,'shruti']
for i in l:
    print(i,end=" ")

1 2 3 shruti

## 15. Check if a number is divisible by both 3 and 5

In [15]:
n = int(input("enter the number : "))
if n%3==0 and n%5==0:
    print(n," is divisible by both 3 and 5")
else:
    print(n," is not divisible by both 3 and 5")

enter the number : 12
12  is not divisible by both 3 and 5

## 16. Square of all numbers from 1 to 5.

In [16]:
for i in range (1,6):
    print(i," square = ",i*i)

1  square =  1
2  square =  4
3  square =  9
4  square =  16
5  square =  25

## 17. Print ASCII values of characters in a string.

In [24]:
string = "shruti"
for i in string:
    print(ord(i),end=" ") #The ord() function is used to get the ASCII value of a character

115 104 114 117 116 105

## 18. Count down from 10 to 1 using while

In [23]:
x=10
while(x>0):
    print(x,end=" ")
    x=x-1

10 9 8 7 6 5 4 3 2 1

## 19. Check if a number is divisible by 2 or 3

In [22]:
n = int(input("enter the number : "))
if n%2==0 or n%3==0:
    print(n," is divisible by 2 or 3")
else:
    print(n," is not divisible by both 2 or 3")

enter the number : 5
5  is not divisible by both 2 or 3

## 20. Print sum of digits of a number.

In [25]:
n = int(input("enter the number : "))
s=0
while n:
    d = n%10
    s=s+d
    n= n//10
print("Sum of Digits : ",s)

enter the number : 454
Sum of Digits :  13

## 21. Swap two numbers using a temporary variable.

In [26]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
print("Before swapping :",num1,"  ",num2)
n=num1                          # n is the temporary Variable
num1=num2
num2=n
print("After swapping :",num1,"  ",num2)

Enter number 1: 2
Enter number 2: 3
Before swapping : 2    3
After swapping : 3    2

## 22. Print numbers from 1 to 100 that are divisible by 7.

In [22]:
print("Numbers from 1 to 100 that are divisible by 7")
for i in range (1,101):
    if(i%7==0):
        print(i,end=" ")

Numbers from 1 to 100 that are divisible by 7
7 14 21 28 35 42 49 56 63 70 77 84 91 98

## 23. Find the factorial of a number.

In [36]:
n = int(input("Enter the number : "))
f=1

n1 = n
while n>0:
    f=f*n
    n=n-1
print("Factorial of ",n1,"! = ",f)

Enter the number : 5
Factorial of  5 ! =  120

## 24. Count vowels in a string.

In [39]:
s = input("Enter any string :")
c=0
for i in s:
    if(i=='a' or i=='A'):
        c=c+1
    elif(i=='e' or i=='E'):
        c=c+1
    elif(i=='i' or i=='I'):
        c=c+1
    elif(i=='o' or i=='O'):
        c=c+1
    elif(i=='u' or i=='U'):
        c=c+1
print("There is total ",c," number of vowels in the string ",s)

Enter any string :aeiskdousa
There is total  6  number of vowels in the string  aeiskdousa

## 25. Reverse a number using loop.

In [42]:
n = int(input("enter the number : "))
n1 =n
r=0
while n:
    d = n%10
    r = r*10+d
    n= n//10
print("Reverse of",n1," = ",r)

enter the number : 32
Reverse of 32  =  23

## 26. Find the maximum in a list using loop.

In [45]:
l = [1,100,2,2,3,200.12,4,7]
max=l[0]
for i in l:
    if(max<i):
        max = i
print("Maximun in list = ",max)

Maximun in list =  200.12

## 27. Prime number check using loop.

In [55]:
n = int(input("enter the number : "))
c=True
for i in range (2,n):
    if(n%i==0):
        print(n," is Not Prime ***");
        c= False
        break;
if c==True:
    print(n," is Prime")

enter the number : 1
1  is Prime

## 28. Sum of even numbers in a list.

In [65]:
l = [1,2,4,3,6,0,4]
s=0
for i in l:
    if i%2==0:
        s=s+i
print("Sum of Even numbers in the list :",s)

Sum of Even numbers in the list : 16

## 29. Print number pattern using nested loops.

In [118]:
n = int(input("enter the level : "))
for i in range(1,n+1):
    for j in range(i):
        print(i,end=" ")
    print("\n")

enter the level : 4
1

2 2

3 3 3

4 4 4 4

In [117]:
n = int(input("enter the level : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j,end=" ")
    print("\n")

enter the level : 4
1 2 3 4

2 3 4

3 4

4

## 30. Count frequency of digits in a number.

In [16]:
num = int(input("Enter the number : "))


for i in range(0,10):
    c=0
    n1=num
    while n1>0:
        d=n1%10
        if(d==i):
            c=c+1
        n1=n1//10  
    if(c > 0):
        print(i," occurs ",c,"times")

Enter the number : 23112232
1  occurs  2 times
2  occurs  4 times
3  occurs  2 times

## 31. GCD of two numbers using loop.

In [14]:
n1 = int(input("Enter the 1st Number : "))
n2 = int(input("Enter the 2nd Number : "))
g=1
for i in range (2,n1):
    if(n1%i==0 and n2%i==0):
        g=i
print("gcd of (",n1,",",n2,") =",g)

Enter the 1st Number : 24
Enter the 2nd Number : 8
gcd of ( 24 , 8 ) = 8

## 32. Check if a number is a palindrome.

In [11]:
n = int(input("Enter the Number : "))
n1 = n
r=0
while n:
    d = n%10
    r = r*10+d
    n= n//10
if(r==n1):
    print(n1,"Is Palindrome")
else:
    print(n1,"Is Not Palindrome")

Enter the Number : 345
345 Is Not Palindrome

## 33. Count words in a sentence.

In [143]:
s = "hello world , I am shrutirekha srichandan"
c=0
for i in s:
    if(i==' '):
        c=c+1
print(" Number of words in sentence \n",s," =",c+1)

 Number of words in sentence
 hello world , I am shrutirekha srichandan  = 7

## 34. Find common elements in two lists.

In [137]:
l1=[1,2,'ram',3]
l2=[3,4,'2','Ram']
for i in l1:
    for j in l2:
        if(i==j):
            print(j)

3

## 35. Use elif to grade students based on score

In [122]:
s=int(input("Enter the score : "))
if(s>=90):
    print("Grade - O")
elif(s>=80):
    print("Grade - E")
elif(s>=70):
    print("Grade - A")
elif(s>=60):
    print("Grade - B")
elif(s>=50):
    print("Grade - C")
elif(s>=40):
    print("Grade - D") 
else:
    print("Grade - F")

Enter the score : 99
Grade - O

## 36. Print a right-angled triangle using *.

In [91]:
n = int(input("enter the level : "))
for i in range(1,n+1):
    for j in range(i):
        print("* ",end=" ")
    print("\n")

enter the level : 4
*

*  *

*  *  *

*  *  *  *

In [100]:
n = int(input("enter the level : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("* ",end=" ")
    print("\n")

enter the level : 3
*  *  *

*  *

*

## 37. Check if a year is a leap year.

In [127]:
y = int(input("Enter the year "))

if(y%4==0):
    print(y,"is a Leap Year")
else:
    print(y,"is Not a Leap Year")

Enter the year 2025
2025 is Not a Leap Year

## 38. Print Fibonacci series using loop.

In [20]:
n = int(input("Enter number: "))
i,j,f=0,1,0

for k in range(0,n):
    if k==0:
        print(i,end=" ")
    elif k==1:
        print(j,end=" ")
    else:
        f=i+j
        print(f,end=" ")
        i=j
        j=f

Enter number: 4
0 1 1 2

## 39. Count uppercase and lowercase letters in a string.

In [6]:
s = input("Enter the string : ")
l=u=sc=0
for i in s:
    if i.islower():
        l=l+1
    elif(i==' '):
        sc=sc+1
    else:
        u=u+1
print(s)
print("Number of Lower case character = ",l)
print("Number of Upper case character = ",u)
print("Number of space = ",sc)

Enter the string : Hello World
Hello World
Number of Lower case character =  8
Number of Upper case character =  2
Number of space =  1

## 40. Print numbers from 100 to 1 using loop.

In [21]:
i=100
while i>0:
    print(i ,end=" ")
    i=i-1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

###### Shrutirekha Srichandan